@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: local("Montserrat"),
        url("../fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff");
    font-display: swap;
}