body {
    margin: 0px;
    font-family: Montserrat, serif;
    font-size: 16px;
}

.header, .main, .footer {
    padding: 0px 6.25%;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: 0px 3px 0px rgba(237, 239, 240, 0.5);
    background-color: white;
}

[class$="list_orientation_horizontal"] {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

[class$="list_orientation_vertical"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

[class^="header__nav-list"] {
    padding-inline: 40px;
}

[class^="header__nav-list"] > li {
    display: inline-block;
    margin: 2px 12px;
}

.header__nav-option > a:link, .header__nav-option > a:visited {
    color: black;
    text-decoration: none;
}

.header__nav-option > a:hover, .header__nav-option > a:active {
    color: grey;
    text-decoration: none;
}

.header__dropdown::after {
    content: " ▼";
}

button {
    cursor: pointer;
}

[class^="header__button"] {
    margin-left: auto;
    flex-shrink: 0;
}

#button-main {
    width: 230px;
    height: 48px;
    background-color: #E3F5F5;
    border: none;
    border-radius: 5px;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: bold;
    color: #03B2A5;
}

#button-mobile {
    background: none;
    border: none;
}

[class*="button"]:hover {
    transform: scale(1.025);
}

[class^="main__page-path"] p {
    font-size: 12px;
    color: rgba(30, 30, 30, 0.6);
}

[class^="main__page-path"] a:link, [class^="main__page-path"] a:visited {
    font-size: 12px;
    color: rgba(30, 30, 30, 0.6);
    text-decoration: none;
}

[class^="main__page-path"] a:hover, [class^="main__page-path"] a:active {
    font-size: 12px;
    color: rgba(30, 30, 30, 0.6);
    text-decoration: none;
}

[class^="tag-bar__list"] > li {
    display: inline-block;
    flex: 0 0 auto;
    padding: 4px 8px;
    padding-inline-start: 0px;
}

[class^="tag-bar__tag"] > button {
    height: 32px;
    align-items: center;
    background-color: white;
    padding: 0px 8px;
    font-family: Montserrat, serif;
    font-weight: 600;
}

[class$="tag_state_idle"] > button:hover {
    background-color: #E3F5F5;
    border-color: #E3F5F5;
}

[class^="tag-bar__tag_state_idle"] > button {
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 16px;
}

[class^="tag-bar__tag_state_active"] > button {
    border: 2px solid rgba(0, 223, 193, 0.623);
    border-radius: 16px;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    margin: 12px 0px;
}

[class^="articles-grid__article-card"] {
    height: 500px;
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 24px;
    overflow: hidden;
}

[class^="articles-grid__article-card"]:nth-child(-n + 2) {
    grid-column: span 3;
}

[class^="articles-grid__article-card"]:nth-child(n + 3) {
    grid-column: span 2;
}

[class^="article-card__image"] {
    position: relative;
    height: 250px;
    overflow: hidden;
}

[class^="article-card__image"] > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

[class^="article-card__tag-list"] {
    position: absolute;
    top: 0%;
    left: 0px;
}

[class^="article-card__tag-list"] > li {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-inline-start: 0px;
    min-height: 32px;
    max-height: 64px;
    width: fit-content;
    background-color: white;
    margin: 8px 8px;
    padding: 0px 8px;
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 16px;
}

.article-card__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 218px;
    padding: 16px 16px;
}

[class^="article-card__link-header"]:link, [class^="article-card__link-header"]:visited{
    color: black;
    text-decoration: none;
}

[class^="article-card__link-header"]:hover, [class^="article-card__link-header"]:active {
    color: grey;
    text-decoration: none;
}

[class^="article-card__link-header"] > h4 {
    margin-top: 0px;
}

.article-card__author, .article-card__date {
    font-size: 12px;
    color: rgba(30, 30, 30, 0.6);
}

.article-card__date {
    margin-top: auto;
    margin-bottom: 0px;
}

.article-card__author {
    margin: 0 0;
}

.article-card__paragraph {
    font-size: 14px;
}

.main__more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.main__more-button {
    width: 230px;
    height: 48px;
    background-color: #03B2A5;
    border: none;
    border-radius: 5px;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.footer {
    min-height: 300px;
    background-color: #2963A3;
    padding-top: 32px;
    margin-top: 64px;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
}

.footer__nav, .footer__form-container {
    display: flex;
    justify-content: flex-start;
    width: 33%;
}

.footer__nav {
    min-width: 250px;
}

.footer__form-container {
    flex-direction: column;
    max-width: 500px;
    min-width: 250px;
    margin-right: 15%;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    min-height: 225px;
    width: 50%;
    list-style: none;
    padding-inline-start: 0px;
    margin: 0px;
}

.footer__nav-option {
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.footer__nav-option > a {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 16px;
}

.footer__nav-option > a:link, .footer__nav-option > a:visited {
    color: white;
    text-decoration: none;
}

.footer__nav-option > a:hover, .footer__nav-option > a:active {
    color: #b6d1ec;
    text-decoration: none;
}

.footer__form-description {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin: 12px 0px;
}

.footer__form-agreement {
    font-family: Montserrat, serif;
    font-weight: 100;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin: 12px 0px;
}

.footer__form {
    display: flex;
    align-items: center;
}

.footer__form input {
    width: 75%;
    height: 46px;
    background-color: white;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 5px;
    padding: 0px 0px;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding-inline-start: 14px;
}

.footer__form input::placeholder {
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 400;
    color: #a0a0a0;
}

.footer__form input:focus {
    outline: none;
}

.footer__form button {
    height: 48px;
    width: 72px;
    background-color: #03B2A5;
    border: 1px solid #03B2A5;
    border-radius: 5px;
    padding: 0px 0px;
}

.footer__social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.footer__social-links > img {
    width: 221px;
    height: 50px;
    margin: 12px 0px;
}

.footer__social-links-list {
    display: flex;
    width: 221px;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0px;
    margin: 12px 0px;
}

.footer__legal-info {
    display: flex;
    border-top: 1px solid rgba(196, 196, 196, 0.301);
    margin-top: 32px;
}

.footer__legal-info-list {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0px;
    padding-top: 24px;
    margin: 0px 0px;
}

.footer__legal-info-list > li {
    margin: 0px 0px;
    margin-bottom: 24px;
    padding-right: 109px;
}

.footer__legal-info-list p {
    margin: 0px 0px;
    font-family: Montserrat, serif;
    font-weight: 100;
    font-size: 16px;
    color: white;
}

.footer__legal-info-list a {
    margin: 0px 0px;
    font-family: Montserrat, serif;
    font-weight: 100;
    font-size: 16px;
    color: white;
    text-decoration: none;
}


@media (max-width: 450px) {

    [class^="tag-bar__list"] {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    * {
        scrollbar-width: none;
    }
}

@media (max-width: 900px) {

    .articles-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin: 12px 0px;
    }

    [class^="articles-grid__article-card"]:nth-child(-n + 2) {
        grid-column: span 4;
    }

    [class^="articles-grid__article-card"]:nth-child(n + 3) {
        grid-column: span 2;
    }
}

@media (max-width: 800px) {

    .articles-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
    margin: 12px 0px;
    }

    [class^="articles-grid__article-card"]:nth-child(-n + 2) {
        grid-column: span 1;
    }

    [class^="articles-grid__article-card"]:nth-child(n + 3) {
        grid-column: span 1;
    }
}

@media (max-width: 1000px) {

    [class*="platform_desktop"] {
        display: none;
    }
}

@media (min-width: 1000px) {

    [class*="platform_mobile"] {
        display: none;
    }
}